In [1]:
import pandas as pd

In [2]:
# csv파일 불러오기
csv = pd.read_csv('서울시 양천구 동물용의료용구판매업 인허가 정보.csv',encoding='cp949')
csv

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),축산업무구분명,축산물가공업구분명,축산일련번호,권리주체일련번호,총인원
0,3140000,314000001320020001,20020814,NaN,3,폐업,2,폐업,20200708,NaN,...,U,2020-07-11 02:40:00.0,NaN,186679.515116,447124.449385,동물용의료용구판매업,NaN,NaN,L00,NaN
1,3140000,314000001320030001,20020814,NaN,3,폐업,2,폐업,20030104,NaN,...,I,2018-08-31 23:59:59.0,NaN,NaN,NaN,동물용의료용구판매업,NaN,NaN,L00,NaN
2,3140000,314000001320060001,20060608,NaN,3,폐업,2,폐업,20200708,NaN,...,U,2020-07-11 02:40:00.0,NaN,184707.746690,448400.181620,동물용의료용구판매업,NaN,NaN,000,NaN
3,3140000,314000001320190001,20190812,NaN,3,폐업,2,폐업,20210422,NaN,...,U,2021-04-24 02:40:00.0,NaN,184971.290324,445601.995866,동물용의료용구판매업,NaN,NaN,000,NaN
4,3140000,314000001320220001,20220418,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2021-12-03 22:01:00.0,NaN,188554.106676,448293.184847,NaN,NaN,NaN,NaN,NaN
5,3140000,314000001320220002,20220517,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2021-12-04 23:09:00.0,NaN,188729.190479,447572.610039,NaN,NaN,NaN,NaN,NaN
6,3140000,314000001320220003,20220517,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2021-12-04 23:09:00.0,NaN,188580.483662,447750.845211,NaN,NaN,NaN,NaN,NaN
7,3140000,314000001320220004,20220519,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2021-12-04 22:01:00.0,NaN,187929.395107,446964.609091,NaN,NaN,NaN,NaN,NaN
8,3140000,314000001320220005,20220519,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2021-12-04 22:01:00.0,NaN,189519.862506,448282.256149,NaN,NaN,NaN,NaN,NaN
9,3140000,314000001320220006,2022-10-31,NaN,3,폐업,2,폐업,2023-06-28,NaN,...,U,2022-12-05 21:00:00.0,NaN,185189.161954,448304.465259,NaN,NaN,NaN,NaN,NaN

In [3]:
# 데이터프레임 주소값 추출
address= csv['도로명주소']
address

0                                                 NaN
1                                                 NaN
2                       서울특별시 양천구 남부순환로**길 * (신월동,*층)
3    서울특별시 양천구 신정이펜*로 **, ***동 ***호 (신정동, 신정이펜하우스*단지)
4                    서울특별시 양천구 목동중앙로 **, 지층 ***호 (목동)
5                    서울특별시 양천구 목동서로 ***, 홈플러스목동점 (목동)
6                서울특별시 양천구 목동서로 ***(목동, 목동신시가지아파트*단지)
7                         서울특별시 양천구 목동로 ***, *층 (신정동)
8                    서울특별시 양천구 목동동로 ***(목동, 부영그린타운*차)
9                     서울특별시 양천구 가로공원로 ***, ***호 (신월동)
Name: 도로명주소, dtype: object

In [4]:
# 주소 데이터 깔끔하게 다듬기
new_address = []

for i in range(len(address)):
    if isinstance(address[i], str):
        a = address[i].split(' ')
        new_address.append(" ".join(a[0:4]))
    else:
        new_address.append(address[i])

# 주소 업데이트
address = pd.Series(new_address)
address

0                       NaN
1                       NaN
2      서울특별시 양천구 남부순환로**길 *
3      서울특별시 양천구 신정이펜*로 **,
4       서울특별시 양천구 목동중앙로 **,
5       서울특별시 양천구 목동서로 ***,
6    서울특별시 양천구 목동서로 ***(목동,
7        서울특별시 양천구 목동로 ***,
8    서울특별시 양천구 목동동로 ***(목동,
9      서울특별시 양천구 가로공원로 ***,
dtype: object

In [5]:
#pip install geopy
#pip install pyproj

In [6]:
####### 도로명주소 위도 경도 값으로 바꿔주기 ########
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

# 위도, 경도 반환하는 함수
def geocoding(address):
    try:
        geo = geo_local.geocode(address)
        x_y = [geo.latitude, geo.longitude]
        return x_y

    except:
        return [0,0]

In [7]:
#####주소를 위,경도 값으로 변환하기 #####
latitude = []
longitude =[]

for i in address:
    latitude.append(geocoding(i)[0])
    longitude.append(geocoding(i)[1])

In [8]:
#####Dataframe만들기######
address_df = pd.DataFrame({**csv, '주소':address,'위도':latitude,'경도':longitude})

#df저장
address_df.to_csv('서울시 양천구 동물용의료용구판매업 인허가 정보_가공.csv',encoding='UTF-8-sig', index=False)